@{
    ViewData["Title"] = "Início";
}

<div class="hero">
    <h1 class="display-3 text-center text-success">Bem-vindo à Locadora de Veículos</h1>
    <p class="lead text-center">A melhor opção para alugar carros e motos de qualidade.</p>
    
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhTyhRuNDG4N8dtsfb08q4r1c3Lk-LMeBpwmslkPk-GDodNU5YsP-7C4jRrPPBVlNhxzpQe3MoM0Jo8ba29PKE_K4DwDDLci-AsHL25JAKg891nVv-DdHsYmbADIsHpnFtMftVv0SA-iqWJ/s1600/real-strong-car-1920x1200.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://painel.automotivebusiness.com.br/wp-content/uploads/2024/10/dodge-charger-04.jpg__1600.0x900.0_q85_subsampling-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/4665561.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<a href="/Veiculos" class="btn btn-success btn-lg">Veja nossos veículos</a>
</div>

<div class="container my-4">
    <h2 class="text-center mb-4 text-success">Nossos Serviços</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card service-card">
                <div class="card-body text-center">
                    <h5 class="card-title">Aluguel de Carros</h5>
                    <p class="card-text">Uma ampla variedade de carros para atender às suas necessidades.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card service-card">
                <div class="card-body text-center">
                    <h5 class="card-title">Adicionais</h5>
                    <p class="card-text">Motos econômicas e práticas para o seu dia a dia.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card service-card">
                <div class="card-body text-center">
                    <h5 class="card-title">Portal do Cliente</h5>
                    <p class="card-text">Tudo que você precisa, em um só lugar.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="text-center text-success">Conheça a nossa Frota</h2>
    <p class="text-center">As melhores condições para você reservar e aproveitar.</p>
    
    <div id="frotaCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://diariodopara.com.br/wp-content/uploads/2023/04/fffb2e94-be3d-4b05-b3cd-659bf3f728fb_1365x1024-1024x575.jpg" class="card-img-top" alt="Executivo Elétrico">
                        <div class="card-body text-center">
                            <h5 class="card-title">Grupo FE - Executivo Elétrico</h5>
                            <p class="card-text">Veículo similar a: GM Bolt Premier Elétrico, dentre outros.</p>
                        </div>
                    </div>
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://seminovos.unidas.com.br/blog/content/uploads/2023/07/6-opcoes-de-carros-populares-1024x575.png" class="card-img-top" alt="Localiza Prime">
                        <div class="card-body text-center">
                            <h5 class="card-title">Grupo LP - Localiza Prime</h5>
                            <p class="card-text">Veículo similar a: Audi A3 Sedan S Line AT Hybrid, dentre outros.</p>
                        </div>
                    </div>
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://monitormercantil.com.br/wp-content/uploads/2023/06/Polo-foto-Volkswagen-1-1024x575.png.webp" class="card-img-top" alt="Localiza Prime">
                        <div class="card-body text-center">
                            <h5 class="card-title">Grupo LP - Localiza Prime</h5>
                            <p class="card-text">Veículo similar a: Audi A3 Sedan S Line AT Hybrid, dentre outros.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://cdn.oantagonista.com/uploads/2024/07/1_azure_panda_emall66179aa5e4b00ac67f7dbf19-38778545-1024x575.png" class="card-img-top" alt="Executivo Blindado">
                        <div class="card-body text-center">
                            <h5 class="card-title">Grupo T - Executivo Blindado</h5>
                            <p class="card-text">Veículo similar a: Toyota Corolla 2.0, dentre outros.</p>
                        </div>
                    </div>
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://99app.com/wp-content/uploads/2023/05/Fiat_Argo_Drive_CVT-1024x575.jpg" class="card-img-top" alt="Executivo Blindado">
                        <div class="card-body text-center">
                            <h5 class="card-title">Grupo T - Executivo Blindado</h5>
                            <p class="card-text">Veículo similar a: Toyota Corolla 2.0, dentre outros.</p>
                        </div>
                    </div>
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://blog.multiplaprotecao.com/wp-content/uploads/2024/01/Onix-1024x575.png" class="card-img-top" alt="Executivo Blindado">
                        <div class="card-body text-center">
                            <h5 class="card-title">Grupo T - Executivo Blindado</h5>
                            <p class="card-text">Veículo similar a: Toyota Corolla 2.0, dentre outros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#frotaCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#frotaCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <div class="text-center mt-3">
        <a href="/Frota" class="btn btn-outline-success">Conferir todos os grupos</a>
    </div>
</div>


<div class="container my-5">
    <h2 class="text-center text-success">Destinos para descobrir e se inspirar</h2>
    <p class="text-center">Mais do que alugar carros, nós cuidamos do seu caminho. Confira as nossas dicas de viagem para inspirar sua próxima experiência.</p>
    
    <div id="destinosCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://cdn.blablacar.com/wp-content/uploads/br/2023/12/05102931/icarai-niteroi-rj.webp" class="card-img-top" alt="Niterói">
                        <div class="card-body text-center">
                            <h5 class="card-title">O que fazer em Niterói, RJ?</h5>
                            <p class="card-text text-muted">RIO DE JANEIRO</p>
                        </div>
                    </div>
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://jpimg.com.br/uploads/2024/07/veja-como-aproveitar-as-ferias-em-joao-pessoa.jpg" class="card-img-top" alt="João Pessoa">
                        <div class="card-body text-center">
                            <h5 class="card-title">O que fazer em João Pessoa?</h5>
                            <p class="card-text text-muted">PARAÍBA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://www.remessaonline.com.br/blog/wp-content/uploads/2024/10/brasilia.jpg.optimal.jpg" class="card-img-top" alt="Brasília">
                        <div class="card-body text-center">
                            <h5 class="card-title">O que fazer em Brasília, DF?</h5>
                            <p class="card-text text-muted">DISTRITO FEDERAL</p>
                        </div>
                    </div>
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://www.remessaonline.com.br/blog/wp-content/uploads/2024/10/ouro-preto.jpg.optimal.jpg" class="card-img-top" alt="Ouro Preto">
                        <div class="card-body text-center">
                            <h5 class="card-title">O que fazer em Ouro Preto, MG?</h5>
                            <p class="card-text text-muted">MINAS GERAIS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#destinosCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#destinosCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <div class="text-center mt-3">
        <a href="/Destinos" class="btn btn-outline-success">Conferir todos os destinos</a>
    </div>
</div>